@model IEnumerable<ChessMates.Models.Tournament>
@{
    ViewBag.Title = "GuestIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tournaments</h2>

<table id="tournaments" class="table table-bordered table-hover" style="background-color:aliceblue">
    <thead>
        <tr style="background-color:royalblue; color: white">
            @*cadetblue*@
            <th>Name</th>
            <th>City</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#tournaments").DataTable({
                ajax: {
                    url: "/api/Tournaments",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name"
                    },
                    {
                        data: "City"
                    },
                    {
                        data: "StartDate"
                        @*@Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })*@
                    },
                    {
                        data: "EndDate"
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            console.log(data);
                            return "<a href='/Tournaments/Details/" + data + "'><button class='btn btn-info js-details'><i class='fa fa-info-circle' style='color:white'></i></button></a>";
                        }
                    }
                ]
            });

        });
    </script>
}

