
@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
        <div style="width:100%; text-align:center; margin-top: 5rem">
            <h3>Play a game</h3><br />
            <iframe src="https://play.chessbase.com" style="width:760px;height:480px" align="middle"></iframe>
        </div>
</div>

