@{
    ViewBag.Title = "Home Page";
}

<div class="container" style="padding-top: 5rem;">
    <div class="container" style="display:flex;">
        <div style="max-width: 70%">
            @Html.Action("Carousel", "News")
            <div style="text-align: center">
                <br />
                <div class="jumbotron">
                    <p style="text-align: left">
                        Play games, practices tactics, read the most important news of chess today and don't miss any tournaments.<br /><br />
                        Join US and become our Chess Mate!
                    </p>
                </div>
                <h3>Can you solve this?</h3><br />
                <iframe src="https://livetactics.chessbase.com" style="width: 50rem; height: 50rem"></iframe>
            </div>
        </div>
        <div class="pull-right" style="width: 25%">
            @Html.Action("NewsBox", "News")
            @Html.Action("TopPlayers", "Players")
            @Html.Action("TournamentsBox", "Tournaments")
        </div>
    </div>
</div>